	  <!-- Left side column. contains the logo and sidebar -->
	  <aside class="main-sidebar">
	    <!-- sidebar: style can be found in sidebar.less -->
	    <section class="sidebar" style="height: auto;">
	      <!-- Sidebar user panel -->
	      <div class="user-panel">
	        <div class="pull-left image">
			    <img id="image_user" src="@routes.Assets.versioned("assets/img/ico-user.svg")" width="160" height="160" class="img-circle" alt="User Image">    
	        </div>
	        <div class="pull-left info reticencias" style="max-width: 175px;">
	          <p>Favela Vive</p>
	          <a href="#">Empresa Cliente</a>
	        </div>
	      </div>
	      <!-- sidebar menu: : style can be found in sidebar.less -->
	      <ul class="sidebar-menu">
	        <li class="header">MENU</li>
	        <li class="">
	          <a href="#">
	            <i class="fa fa-eye"></i> <span>Visão Geral</span>
	          </a>
	        </li>
	        <li>
	          <a href="#">
	            <i class="fa fa-user"></i> <span>Meus Dados</span>
	          </a>
	        </li>
	        <li>
	          <a href="#">
	            <i class="fa fa-sign-out"></i> <span>Sair</span>
	          </a>
	        </li>
	      </ul>
	    </section>
	    <!-- /.sidebar -->
	  </aside>